@import "variables.module";

.canvas {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

canvas {
  cursor: url("../assets/images/brush_mini.png") 0 32, default;
  border: 1px solid black;
  background-color: white;
//cursor: pointer;
}